# Editor config
# http://EditorConfig.org

root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{yaml,yml,nix,json,json5}]
indent_size = 2

[*.{js,ts}]
indent_size = 2
quote_type = double
continuation_indent_size = 2
curly_bracket_next_line = false
indent_brace_style = BSD
spaces_around_operators = true
spaces_around_brackets = none
